<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <style>
        body {
            background-color: #E9EBEE;
        }
    </style>
    <title>Friends Page</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Social Network</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/myProfile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/friends">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/allUsersPage">Global Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/groupsPage">Groups</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/events">Events</a>
            </li>
        </ul>
    </div>
    <form class="form-inline my-2 my-lg-0" th:action="@{/logoutPage}" method="post">
        <a th:href="@{/loginPage}" class="btn btn-primary btn-block">Logout</a>
    </form>
</nav>
<h2>My Friends</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="friend : ${friend}">
        <td><span th:text="${friend.id}"></span></td>
        <td><span th:text="${friend.name}"></span></td>
        <td><span th:text="${friend.email}"></span></td>
        <td>
            <form th:action="@{/removeFriendship}" th:object="${friend}" method="post">
                <input type="submit" value="Remove friend" class="btn btn-danger">
                <input type="hidden" th:field="*{id}">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>